/* backgrounds */
$primary-bg: rgba(25, 54, 77, 1);
$secondary-bg: rgba(95, 168, 211, 0.2);

/* text */
$header: rgba(255, 255, 255, 1);
$menu: rgba(255, 255, 255, 1);
$primary-text: rgba(222, 240, 255, 1);
$secondary-text: rgba(136, 172, 202, 1);

/* special texts */
$green-text: rgba(65, 184, 131, 1);
$grey-company: rgba(252, 93, 72, 1);

/* list points */
$blue-point: rgba(25, 188, 254, 1);
$green-point: rgba(65, 184, 131, 1);

/* others */
$bar-text: rgba(219, 225, 236, 1);
$bar: rgba(246, 248, 250, 1);
$headline-border: rgba(103, 167, 211, 1);
$cta: rgba(65, 184, 131, 1);
