/* mobile */
$title-header-mobile: 32px;
$title-subheader-mobile: 30px;
$menu-entry-mobile: 12px;

$headline-mobile: 20px;
$text-mobile: 16px;
$subtext-mobile: 14px;

/* desktop */
$title-header-desktop: 72px;
$title-subheader-desktop: 64px;
$menu-entry-desktop: 16px;

$headline-desktop: 32px;
$text-desktop: 20px;
$subtext-desktop: 18px;

/* others */
$bar-text: 14px;
$footer: 14px;

$grey-company: 24px;