@use 'utils/font-sizes';
@use 'utils/colors';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


.projects-container{
  padding: 100px 30px;
  background-color: colors.$secondary-bg;

  display: flex;
  flex-direction: column;
  align-items: center;

  h4{
    font-size: font-sizes.$headline-mobile;
    font-weight: 600;
    border-bottom: 3px colors.$headline-border solid;
    padding: 0 10px 5px 10px;
    margin-bottom: 40px;
  }
}

.carousel{
  width: 300px;
  position: relative;
}

.glide__slide{
  height: 200px;
  border: 3px rgb(15, 41, 70) solid;
  display: flex;
  flex-direction: column;

  background-size: auto 101%;
  background-attachment: scroll;
  background-position: center center;
  background-color:rgb(14, 36, 73);
  background-blend-mode: overlay;

  .desc{
    height: 50%;
    width: 100%;
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .icons{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons > a{
    text-decoration: none;
    color: colors.$header;
    font-family: 'Ubuntu Mono', monospace;

    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    

    img{
      margin-bottom: 5px;
      transition-duration: .1s;
    }

    &:hover{

      *{
        color: colors.$primary-text;
      }

      img{
        transform: translateY(-3px);
      }
    }
  }

  &:nth-last-child(1){
    background-image: url('../assets/minesweeper_bg.jpg');
  }

  &:nth-child(2){
    background-image: url('../assets/minesweeper_bg.jpg');
  }

  &:nth-child(3){
    background-image: url('../assets/expense_tracker_bg.jpg');
  }

  &:nth-child(4){
    background-image: url('../assets/chess_timer_bg.png');
  }

  &:nth-child(5){
    background-image: url('../assets/meme_generator_bg.jpg');
  }

  &:nth-child(6), &:nth-child(1){
    background-image: url('../assets/clock_bg.png');
  }
}

div[data-glide-el="controls"]{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 200px / 2 - 21px;
  width: 100%;

  button{
    all: unset;
    cursor: pointer;
  
    &:first-child{
      transform: translateX(-21px);
    }
  
    &:last-child{
      transform: translateX(21px);
    }
  }
}

.glide__bullets{
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;

  button{
    margin: 0px 5px;
    width: 26px;
    height: 26px;

    background-color: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer !important;
  }
}

.glide__bullet{
  background-image: url('../assets/bullet-inactive.svg');
}

.glide__bullet--active{
  background-image: url('../assets/bullet-active.svg');
}

@media (min-width: 768px){
  .projects-container{
    padding: 100px 30px;
    background-color: colors.$secondary-bg;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel{
    width: 600px;
  }

  .glide__slide{
    height: 400px;
    width: 600px;
    border: 3px rgba(49, 120, 198, 1) solid;
    display: flex;
    flex-direction: column;
  
    .desc{
      height: 50%;
      width: 100%;
      display: flex;
      font-family: 'Ubuntu Mono', monospace;
      justify-content: center;
      align-items: center;
      font-size: 42px;
      font-weight: 700;
      letter-spacing: -0.02em;
    }
  
    .icons{
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .icons > a{
      text-decoration: none;
      color: colors.$header;
      font-family: 'Ubuntu Mono', monospace;
  
      width: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: scale(1.4);
  
      img{
        margin-bottom: 5px;
      }
    }

    &:nth-last-child(1){
      background-image: url('../assets/expense_tracker_bg.jpg');
    }
  
    &:nth-last-child(2){
      background-image: url('../assets/minesweeper_bg.jpg');
    }
  
    &:nth-child(3){
      background-image: url('../assets/minesweeper_bg.jpg');
    }
  
    &:nth-child(4){
      background-image: url('../assets/expense_tracker_bg.jpg');
    }
  
    &:nth-child(5){
      background-image: url('../assets/chess_timer_bg.png');
    }
  
    &:nth-child(6), &:nth-child(1){
      background-image: url('../assets/meme_generator_bg.jpg');
    }
  
    &:nth-child(7), &:nth-child(2){
      background-image: url('../assets/clock_bg.png');
    }
  }

  div[data-glide-el="controls"]{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 400px / 2 - 21px;
    width: 100%;
  
    button{  
      &:first-child{
        transform: translateX(-21px);
      }
    
      &:last-child{
        transform: translateX(21px);
      }
    }
  }

  
}

@media (min-width: 1080px){
  .projects-container{
    h4{
      font-size: font-sizes.$headline-desktop;
      font-weight: 600;
      border-bottom: 3px colors.$headline-border solid;
      padding: 0 10px 5px 10px;
      margin-bottom: 80px;
    }
  }

  .carousel{
    width: 800px;
  }

  div[data-glide-el="controls"]{
    button{
      &:first-child{
        transform: translateX(-71px);
      }
    
      &:last-child{
        transform: translateX(71px);
      }
    }
  }

  .glide__bullets{
    padding: 70px 0 0 0;
  }
}

@media (min-width: 1440px){
  .carousel{
    width: 1000px;
  }

  div[data-glide-el="controls"]{
    button{
      &:first-child{
        transform: translateX(-121px);
      }
    
      &:last-child{
        transform: translateX(121px);
      }
    }
  }
}

@media (max-width: 340px){
  .carousel{
    transform: scale(0.9);
  }
}