@use 'utils/reset';
@use 'utils/font-sizes';
@use 'utils/colors';

@use 'menu';
@use 'sidebars';
@use 'title-page';
@use 'about-me-page';
@use 'skills-page';
@use 'projects';
@use 'contact';


html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  width: 100vw;
  background-color: colors.$primary-bg;
  color: colors.$primary-text;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

section{
  display: block;
  margin: 0;
}

.blur-layer{
  min-width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 99;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}

.blur-layer--active{
  display: block;
}

.bg-curve{
  display: block;
  bottom: 0;
  left: 0;

  width: 100vw;
}

.cta{
  border: 4px colors.$cta solid;
  border-radius: 10px;

  font-weight: 800;
  font-size: font-sizes.$menu-entry-desktop;
  text-decoration: none;
  padding: 15px 30px;
  color: colors.$cta;

  z-index: 2;
  transition-duration: .1s;

  &:link, &:hover, &:visited, &:active{
    color: colors.$cta !important;
  }

  &:hover{
    background-color: rgba(180, 243, 196, 0.2);
  }
}

footer{
  display: flex;
  justify-content: center;
  padding: 50px 0;
  font-size: font-sizes.$subtext-mobile;
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img{
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }

  p{
    margin: 3px 0;
  }
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  a{
    margin: 0 10px;
  }
}

section > div > *{
  opacity: 0;
}

@media (min-width: 768px){
  .social-icons{
    display: none;
  }
}

@media (min-width: 1920px){
  /*.bg-curve{
    width: 100vw;
  }*/
}


